{% extends 'base.html.twig' %}

{% block title %}Employee{% endblock %}

{% block body %}
	<div class="d-block position-relative float-right mt-3 ">
		<a href="{{ path('employee_list') }}" title="Show Employee" class="btn btn-sm btn-secondary " disabled="disabled"><i class="fa fa-home"></i>
			Back</a>
	</div>
	<h6 class="border-bottom border-gray pb-2 mb-2 display-4">Employee show</h6>


    <table class="table">
        <tbody>
            <tr>
                <th>EmpNo</th>
                <td>{{ employee.empNo }}</td>
            </tr>
            <tr>
                <th>BirthDate</th>
                <td>{{ employee.birthDate ? employee.birthDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ employee.firstName }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ employee.lastName }}</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>{{ employee.gender }}</td>
            </tr>
            <tr>
                <th>HireDate</th>
                <td>{{ employee.hireDate ? employee.hireDate|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
