{% extends 'base.html.twig' %}

{% block body %}
	<h6 class="border-bottom border-gray pb-2 mb-2 display-4">Login</h6>
	{% if error %}
		<div class="alert alert-danger">
			{{ error.messageKey|trans(error.messageData, 'security') }}
		</div>
	{% endif %}


	<form action="{{ path('security_login') }}" method="post">
		<div>
			<div class="form-group">
				<label class="form-control-label required" for="username">Username</label>
				<input type="text" id="username" name="_username" required="required" class="form-control"
				       value="{{ last_username }}">
			</div>
			<div class="form-group">
				<label class="form-control-label required" for="password">Password</label>
				<input type="password" id="password" name="_password" required="required" class=" form-control">
			</div>
			<div class="form-group">
				<button type="submit" id="Login" name="Login" class="btn-secondary btn-sm btn">Login</button>
				<button type="button" onclick="window.location.href='{{ path('user_register') }}';" id="Registration" name="Registration"
				        class="btn-light btn-sm btn">Registration</button>
			</div>
			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
			<input type="hidden" name="_target_path" value="{{ app.request.get('redirect_to') }}">
		</div>
	</form>
{% endblock %}