{% extends 'base.html.twig' %}

{% block title %}DeptManager{% endblock %}

{% block body %}
	<div class="d-block position-relative float-right mt-3 ">
		<a href="{{ path('dept_manager_list') }}" title="Show DeptManager" class="btn btn-sm btn-secondary " disabled="disabled"><i class="fa fa-home"></i>
			Back</a>
	</div>
	<h6 class="border-bottom border-gray pb-2 mb-2 display-4">DeptManager show</h6>

	<table class="table">
		<tbody>
		<tr>
			<th>Id</th>
			<td>{{ dept_manager.id }}</td>
		</tr>
		<tr>
			<th>FromDate</th>
			<td>{{ dept_manager.fromDate ? dept_manager.fromDate|date('Y-m-d') : '' }}</td>
		</tr>
		<tr>
			<th>ToDate</th>
			<td>{{ dept_manager.toDate ? dept_manager.toDate|date('Y-m-d') : '' }}</td>
		</tr>
		</tbody>
	</table>

	<div class="card-group py-2">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">
					Employee name: {{ dept_manager.empNo.fullName }}
				</h5>
				<b>No: </b>{{ dept_manager.empNo.empNo }}<br>
				<b>Gender: </b>{{ dept_manager.empNo.gender|gender }}<br>
				<b>Birth date: </b>{{ dept_manager.empNo.birthDate ? dept_manager.empNo.birthDate|date('Y-m-d') : '' }}<br>
				<b>Hire date: </b>{{ dept_manager.empNo.hireDate ? dept_manager.empNo.hireDate|date('Y-m-d') : '' }}
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">
					Department name: {{ dept_manager.deptNo.deptName }}
				</h5>
				<b>No: </b>{{ dept_manager.deptNo.deptNo }}<br>
				<b>From: </b>{{ dept_manager.fromDate ? dept_manager.fromDate|date('Y-m-d') : '' }}<br>
				<b>To: </b>{{ dept_manager.toDate ? dept_manager.toDate|date('Y-m-d') : '' }}<br>
			</div>
		</div>
	</div>


{% endblock %}
