{% extends 'base.html.twig' %}

{% block title %}Titles{% endblock %}

{% block body %}
	<h6 class="display-4">Titles</h6>
	{% for message in app.flashes('notice') %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}

	<table class="table" id="myTable">
		<thead>
		<tr>
			<th>Id</th>
			<th>Title</th>
			<th>Employee</th>
			<th>FromDate</th>
			<th>ToDate</th>
			<th>actions</th>
		</tr>
		</thead>
		<tbody>
		{% for title in titles %}
			<tr>
				<td>{{ title.id }}</td>
				<td>{{ title.title }}</td>
				<td>{{ title.empNo.fullName }}</td>
				<td>{{ title.fromDate ? title.fromDate|date('Y-m-d') : '' }}</td>
				<td>{{ title.toDate ? title.toDate|date('Y-m-d') : '' }}</td>
				<td>
					<a href="{{ path('title_show', {'id': title.id}) }}" class="btn btn-success btn-sm " role="button"
					   aria-pressed="true">Show</a>
					<a href="{{ path('title_update', {'id': title.id}) }}" class="btn btn-warning btn-sm " role="button"
					   aria-pressed="true">Update</a>
					<a href="{{ path('title_delete', {'id': title.id}) }}" class="btn btn-danger btn-sm " role="button"
					   aria-pressed="true">Delete</a>
				</td>
			</tr>
		{% else %}
			<tr>
				<td colspan="6">no records found</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
	<div class="d-flex">
		<div class="mr-auto p-2">
			<a href="{{ path('title_create') }}" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Create new</a>
		</div>
	</div>
{% endblock %}
{% block javascripts %}

	{{ parent() }}

{% endblock %}
