{% extends 'base.html.twig' %}

{% block title %}Salaries{% endblock %}

{% block body %}
	<h6 class="display-4">Salaries</h6>
	{% for message in app.flashes('notice') %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}

    <table class="table" id="myTable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Salary</th>
	            <th>Employee</th>
                <th>FromDate</th>
                <th>ToDate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for salary in salaries %}
            <tr>
                <td>{{ salary.id }}</td>
                <td>{{ salary.salary|price }}</td>
	            <td>{{ salary.empNo.fullName }}</td>
                <td>{{ salary.fromDate ? salary.fromDate|date('Y-m-d') : '' }}</td>
                <td>{{ salary.toDate ? salary.toDate|date('Y-m-d') : '' }}</td>
	            <td>
		            <a href="{{ path('salary_show', {'id': salary.id}) }}" class="btn btn-success btn-sm " role="button"
		               aria-pressed="true">Show</a>
		            <a href="{{ path('salary_update', {'id': salary.id}) }}" class="btn btn-warning btn-sm " role="button"
		               aria-pressed="true">Update</a>
		            <a href="{{ path('salary_delete', {'id': salary.id}) }}" class="btn btn-danger btn-sm " role="button"
		               aria-pressed="true">Delete</a>
	            </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

	<div class="d-flex">
		<div class="mr-auto p-2">
			<a href="{{ path('salary_create') }}" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Create new</a>
		</div>
	</div>
{% endblock %}
{% block javascripts %}

	{{ parent() }}

{% endblock %}