{% extends 'base.html.twig' %}

{% block body %}
	<h6 class="border-bottom border-gray pb-2 mb-2 display-4">PHP FEJLESZTŐ </h6>
	<h6 class="border-bottom border-gray pb-2 mb-2"> TESZT FELADAT - leírása: </h6>


	<pre>
Teszt feladat
Programozás
Adott egy teszt adatbázis (MySQL) a következő táblákkal:
[ departments ] , [ dept_emp ] , [ dept_manager ] , [ employees ] , [ salaries ] , [ titles ]
Feladat:
1.	Készíts egy rendszert PHP nyelven Symfony keretrendszerrel, amely képes az alábbi feladatok elvégzésére:
a.	Adatokat ad át kliens oldalnak
(dolgozók adatai + aktuális beosztás + aktuális fizetés + aktuális osztály)
b.	Lehetőség legyen módosítani egy dolgozó adatait
c.	Lehetőség legyen törölni
d.	A kommunikációhoz használj REST API -t
2.	Kliens oldalon egy kiválasztott SPA keretrendszer használatával jeleníts meg egy CRUD felületet a kapott adatokkal.
a.	List
i.	Egy oldalon maximum 20 dolgozó jelenhet meg.
ii.	Lapozási lehetőség legyen
iii.	Lehessen rendezni a táblázatot – Név, Beosztás, Osztály, Dátum
iv.	Lehessen szűrni a táblázatot – Név, Beosztás, Osztály, Dátum
b.	View
i.	legyen egy view hívás, ami a kiválasztott dolgozó adatait kéri le
c.	Edit
i.	legyen egy edit hívás, amivel módosítani lehet a meglévő employee adatait
d.	Create
i.	legyen egy create hívás amivel új dolgozót lehet felvinni
Amire kíváncsiak vagyunk:
•	Mennyire tudsz érthető, átlátható kódot írni (Clean Code principles). Design pattern -ek használata, UnitTest megvalósítás.
•	Ismersz -e optimalizálási és skálázási módszereket kliens és szerver oldalon egyaránt.
•	Adatbáziskezelés az ORM használatával
•	hibakezelés backend és frontend oldalon egyaránt
•	Különböző environment -ek kezelése (dev/prod)
•	Security szempontokat is figyelembe fogunk venni

Ami nem elvárás, de szívesen látnánk:
•	konténerizációs technológiák ismerete
•	Cache megoldások
•	Stateless fejlesztői megoldások

A teszt adatbázist innen tudod letölteni:
https://dev.mysql.com/doc/employee/en/

Kérlek GitHub -ra rakd fel egy publikus repository -ba, hogy lehessen rá commentelni.
</pre>
{% endblock %}